.row.content {height: 550px}

.container-fluid {
    padding-right:15px;
    padding-left:15px;
    margin-right:auto;
    margin-left:auto;
  
}

.navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
    }

.navbar-nav.navbar-left {
    position: absolute;
    left: 100%;
}

body {
    background:rgb(14, 6, 6);
    padding-top: 50px;
}
